@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My TeamApp</h1>
    <p>The TeamApp consist of the details about a team and a player from that team.</p>
</div>
